<!doctype html>
<html>
    <head>
        <%= stylesheet_link_tag "contents"%>
        <style>
            @media (min-width: 901px) { 
                //form.content-search {max-width: 24rem;}
                #post-body {display: flex;}
                #tags {height: 32rem; width: 95%;}
                #post-list {width: 74%;}
            }
            @media (max-width: 900.98px) {
                //form.content-search {max-width: 50%;}
                #tags {height: 12rem;width: auto;}
                #myTab {border: none;}
                #myTab li.nav-item {margin-left:auto;margin-right:auto;}
                a.nav-link {border: none !important;}
                a.nav-link.active {
                    background-color: #007bff !important;
                    color: white !important;
                    border-radius: 50% !important;
                }
            }
        </style>
    </head>
    <body>
        <div class="d-flex">
            <%= image_tag "#{@lang.extension}_logo.png", class: "p-3", style: "width:100px; height:100px;"%>
            <h1 class="align-self-center"><%=@lang.langName%></h1>
            <!--<%= form_tag "#", method: "get", class: "content-search input-group ml-auto my-0 my-auto align-self-end" do%>
                <div class="input-group-prepend ">
                    <div class="input-group-text bg-white border-right-0">
                        <i class="fas fa-search text-primary" aria-hidden="true"></i>
                    </div>
                </div>
                <%= text_field_tag "inner-search", nil, placeholder: "Search in #{@lang.langName}", class: "search form-control border-left-0 pl-n3 mr-3"%>
            <% end %>-->
            <!--<% if current_user %>
                <button class="mr-3 btn btn-default align-self-center bg-primary text-white">글쓰기</button>
            <% end %>-->
        </div>
        <div class="jumbotron jumbotron-fluid" id="descriptor">
            <p class="display-4 text-dark text-center">다양한 게시글에서 원하시는 정보를 찾아보세요.</p>
        </div>
        <ul class="nav nav-tabs m-1 " id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active text-primary" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="true">코드질문</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-primary" id="study-tab" data-toggle="tab" href="#study" role="tab" aria-controls="study" aria-selected="false">공부방</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-primary" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="false">Q&A</a>
            </li>
        </ul>
        <div class="tab-content" id="primaryTabContents">
            <div class="tab-pane fade show active" id="code" role="tabpanel" aria-labelledby="code-tab">
                <%= render 'contents/postList'%>
            </div>
            <div class="tab-pane fade" id="study" role="tabpanel" aria-labelledby="study-tab">
                ...제작중
            </div>
            <div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="question-tab">
                ...제작중
            </div>
        </div>
    </body>
</html>
