<!DOCTYPE html>
<html>
	<head>
		<title>my service</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid mt-n1 bg-light text-dark">
			<div class="container">
				<h1 class="display-1">Fluid jumbotron</h1>
				<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
				<p class="lead">.</p>
				<p class="lead">.</p>
				<p class="lead">.</p>
			</div>
		</div>
		<div class="row row-cols-4 row-cols-md-6 card-column justify-content-center w-100 h-100 contents m-0 m-auto">
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "python_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Python </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "c_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "cpp_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C++ </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "java_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Java </h5>
				</div>
			</a>

			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "matlab_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Matlab </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "python_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Python </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "c_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "cpp_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C++ </h5>
				</div>
			</a>
		</div>
	</body>
</html>
