<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid mt-n1 bg-light text-dark pl-5">
			<div class="container pl-5">
				<h1 class="display-1 text-dark pl-5">환영합니다</h1>
				<p class="lead text-dark pl-5 font-weight-bold">항공대 학생들을 위한 개발 커뮤니티</p>
			</div>
		</div>
		<div class="row row-cols-4 row-cols-md-6 card-column justify-content-center w-100 h-100 contents m-0 m-auto">
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "python_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Python </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "c_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "cpp_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C++ </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "java_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Java </h5>
				</div>
			</a>

			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "matlab_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Matlab </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "python_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> Python </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "c_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C </h5>
				</div>
			</a>
			<a class="col card logo_img" href=/contents>
				<img class="card-img-top p-2" src="<%=asset_path "cpp_logo.png"%>"/>
				<div class="card-body">
					<h5 class="card-title"> C++ </h5>
				</div>
			</a>
		</div>
	</body>
</html>
