<!DOCTYPE html>
<html>
  <head>
    <title>항개발</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @media (min-width: 992px) { .login-sm{display: none} .signin-sm{display:none} .login-lg{display: block} .signin-lg{display: block} }
      @media (max-width: 991.98px) { .login-sm{display: block} .signin-sm{display:block} .login-lg{display: none} .signin-lg{display: none} }
    </style>
  </head>

  <body class="w-100 h-100 ">
    <header class="bg-primary">
      <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
        <a class="navbar-brand text-white" href="#">
          <img class="mr-2" src=<%=asset_path "falcon_silhouette.png"%> width="35" height="35"/>항개발
        </a>
        
        <div class="d-flex ml-auto ">
          <button class="btn btn-sm btn-light login-sm mr-1">
            <a class="text-primary text-decoration-none" href="/login">로그인</a>
          </button>
          <button class="btn btn-sm btn-light signin-sm mx-1">
            <a class="text-primary text-decoration-none" href="/signin">회원가입</a>
          </button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">언어</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">질문</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <button class="btn btn-sm btn-light login-lg mr-sm-1">
              <a class="text-primary text-decoration-none" href="/login">로그인</a>
          </button>
          <button class="btn btn-sm btn-light signin-lg mx-sm-1">
            <a class="text-primary text-decoration-none" href="/signin">회원가입</a>
          </button>
        </div>
      </nav>
      
    </header>
    

    <%= yield %>
    <footer class='footer mt-5'>
      <div class='pt-4 pl-4 footer_font text-white'>항개발</div>
    </footer>
  </body>
  
</html>
